$spacing-x-small: 8px;
$spacing-small: 16px;
$spacing-normal: 24px;
$spacing-large: 32px;
$border-radius: 4px;

$animation-speed-fast: 0.2s;
$animation-speed-slow: 0.4s;

$bg-color-dark: #0a0a11;
$bg-color-light: #14343f;
$color-card-bg: rgba(0, 0, 0, 0.5);
$color-text-primary: #fff;
$color-text-secondary: rgba(255, 255, 255, 0.8);
$color-error: #f25e5e;

$shadow-big: 0 15px 24px rgba(0, 0, 0, 0.23), 0 19px 76px rgba(0, 0, 0, 0.3);

html,
body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: $bg-color-dark;
  color: $color-text-primary;
}

body {
  min-height: 100vh;
  background-image: linear-gradient($bg-color-dark 20%, $bg-color-light 60%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

header,
main,
footer {
  width: calc(100% - 32px);
  max-width: 1000px;
  padding: 0 $spacing-small;
}

header {
  margin: 5vh 0;
}

main {
  display: flex;
  flex-direction: column;
}

section {
  width: 100%;
}

footer {
  font-family: 'Rubik', sans-serif;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  padding: $spacing-small;
  margin-top: 10vh;

  p {
    margin: 4px 0;
    width: fit-content;
    opacity: 0.6;
    transition: opacity $animation-speed-fast;
  }

  p:not(:last-child) {
    margin-right: $spacing-small;
  }

  p:hover {
    opacity: 0.9;
  }

  a {
    cursor: pointer;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Rubik', sans-serif;
  margin: 0;
}

h1 {
  font-size: 1rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.33rem;
}

h4 {
  font-size: 1.2rem;
}

p {
  margin: 0;
  line-height: 130%;
}

div.subtitle {
  padding: $spacing-x-small 0 $spacing-x-small $spacing-small;
  border-radius: $border-radius;
  border-left: $spacing-x-small solid $color-text-primary;

  p {
    font-size: 1.1rem;
    max-width: 750px;
  }
}

a {
  color: inherit;
  text-decoration: inherit;
}

ul {
  margin: 0;
  list-style-type: '>';
  padding-left: 1rem;
  line-height: 150%;

  li {
    padding-left: 1rem;
  }
}

button,
label,
a.with-icon {
  display: flex;
  align-items: center;

  img.icon {
    transition: opacity $animation-speed-fast;
    height: 1rem;
    filter: invert(1);
    opacity: 0.6;

    &--left {
      margin-right: $spacing-x-small;
    }

    &--right {
      margin-left: $spacing-x-small;
    }
  }

  &:focus,
  &:hover {
    img.icon {
      opacity: 0.9;
    }
  }
}

button {
  padding: #{1.5 * $spacing-x-small} $spacing-normal;
  background-color: $color-card-bg;
  color: $color-text-primary;
  border: 1px solid transparent;
  border-radius: $border-radius;
  font-size: 1rem;
  cursor: pointer;
  transition: box-shadow $animation-speed-slow;

  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px $color-error;
  }

  &:hover {
    box-shadow: $shadow-big;
  }

  &:disabled {
    box-shadow: none;
    cursor: wait;
    color: $color-text-secondary;

    img.icon {
      opacity: 0.6;
    }
  }
}

@media screen and (min-width: 533px) {
  h1 {
    font-size: 3vw;
  }

  h2 {
    font-size: 6vw;
  }

  h3 {
    font-size: 4vw;
  }

  h4 {
    font-size: 3.6vw;
  }
}

@media screen and (min-width: 600px) {
  header,
  main,
  footer {
    width: calc(100% - 2 * #{$spacing-normal});
    padding: 0 $spacing-normal;
  }

  footer {
    padding: $spacing-normal;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.35rem;
  }

  div.subtitle {
    border-left-width: $spacing-small;
  }
}

@media screen and (min-width: 1333px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 5rem;
  }
}
