@import './common.scss';

.formfield {
  position: relative;
  display: flex;

  input:not([type='file']),
  select {
    box-sizing: border-box;
    width: 100%;
    font-size: 1rem;
    padding: calc(#{2 * $spacing-x-small} + 0.8rem) $spacing-small
      $spacing-x-small;
    background-color: $color-card-bg;
    color: $color-text-primary;
    border: 1px solid transparent;
    border-radius: $border-radius;

    + label {
      position: absolute;
      top: 0;
      left: 0;
      font-size: 0.8rem;
      line-height: 1rem;
      color: $color-text-secondary;
      cursor: text;
      margin: $spacing-x-small 0 0 $spacing-small;
      transition: font-size $animation-speed-fast,
        line-height $animation-speed-fast;
    }

    &:focus {
      outline: none;
      box-shadow: 0 0 0 2px $color-error;
    }
  }

  input:not([type='file']),
  select,
  input[type='file'] + label {
    transition: box-shadow $animation-speed-fast;
  }

  input:not([type='file']) {
    &:not(:focus):placeholder-shown + label {
      font-size: 1rem;
      line-height: 2.8rem;
    }
  }

  input[type='date'] {
    &:not(:focus):invalid {
      color: transparent;
    }

    &:not(:focus):invalid + label {
      font-size: 1rem;
      line-height: 2.8rem;
    }
  }

  input[type='file'] {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;

    + label.drag-area {
      font-size: 1rem;
      padding: calc(#{1.5 * $spacing-x-small} + 0.4rem) $spacing-small;
      background-color: $color-card-bg;
      border: 1px solid transparent;
      border-radius: $border-radius;
      cursor: pointer;
      display: flex;
      align-items: center;
      flex-grow: 1;

      * {
        pointer-events: none;
      }

      .file-upload-label {
        color: $color-text-secondary;

        &--valid {
          color: $color-text-primary;
        }
      }

      + img.icon {
        transition: opacity $animation-speed-fast;
        height: 1.4rem;
        filter: invert(1);
        opacity: 0.6;
        justify-self: flex-end;
        align-self: center;
        cursor: pointer;
        padding: $spacing-x-small;
        margin-left: $spacing-x-small;

        &:hover {
          opacity: 0.9;
        }

        &--delete {
          transition: transform $animation-speed-fast;
          &:hover {
            transform: scale(1.4);
          }
        }

        &--hidden {
          display: none;
        }
      }

      &--drag {
        border: 1px solid $color-error;
      }
    }

    &:focus + label {
      box-shadow: 0 0 0 2px $color-error;

      img.icon {
        opacity: 0.9;
      }
    }
  }

  select {
    cursor: pointer;
    appearance: none;

    + label {
      pointer-events: none;
    }

    &:invalid + label {
      font-size: 1rem;
      line-height: 2.8rem;
    }
  }

  &--error {
    input,
    select {
      border: 1px solid $color-error;
    }
  }

  &--hidden {
    display: none;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s,
      color 5000s ease-in-out 0s;
  }
}

// Faster transition in Safari due to fractional font-size issue
@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    .formfield > input,
    .formfield > input + label,
    .formfield > select,
    .formfield > select + label {
      transition-duration: 0.1s;
    }
  }
}

div.subtitle {
  margin-bottom: 3rem;
}

form {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  grid-auto-flow: row;
  grid-gap: $spacing-x-small;

  p {
    margin: $spacing-small 0;
  }

  .preisliste {
    display: flex;
    flex-direction: column;
    margin: $spacing-normal 0;
    max-width: 600px;

    h4 {
      font-size: 1.4rem;
      margin-bottom: $spacing-small;
    }

    h5 {
      font-size: 1.2rem;
      margin-bottom: $spacing-x-small;
    }

    .preisliste-item {
      display: grid;
      grid-template-columns: 1fr auto;
      grid-auto-rows: auto;
      grid-auto-flow: column;
      grid-gap: $spacing-small;
      align-items: end;
      margin-bottom: $spacing-x-small;

      p {
        margin: 0;
      }
    }

    &--hidden {
      display: none;
    }
  }

  button[type='submit'] {
    justify-self: flex-end;
    align-self: flex-end;
    height: fit-content;
    width: fit-content;
  }

  .feedback {
    p.success-message,
    p.error-message {
      margin: $spacing-small 0 0;

      &--hidden {
        display: none;
      }
    }

    p.error-message {
      color: $color-error;

      a {
        color: $color-text-secondary;
        transition: color $animation-speed-fast;
      }

      a:hover {
        color: $color-text-primary;
      }
    }
  }

  @media screen and (min-width: 600px) {
    grid-template-columns: 1fr 1fr;
    grid-gap: $spacing-small;

    p {
      grid-column: span 2;
    }

    .preisliste {
      grid-column: span 2;
    }

    .feedback {
      grid-column: span 2;

      p.success-message,
      p.error-message {
        margin: 0 $spacing-small 0 0;
      }

      button[type='submit'] {
        align-self: flex-start;
      }
    }
  }
}
