@import './common.scss';

main {
  h3 {
    margin: 10vh 0 1.6rem;
  }

  h4 {
    margin: 1.2rem 0 0.8rem;
  }

  li a {
    color: $color-text-secondary;
    transition: color $animation-speed-fast;

    &:hover,
    &:focus {
      color: $color-text-primary;
    }
  }
}
