@import './common.scss';

main {
  h3 {
    margin: 10vh 0 1.6rem;
  }

  h4 {
    margin: 1.2rem 0 0.8rem;
  }

  li a {
    color: $color-text-secondary;
    transition: color $animation-speed-fast;

    &:hover,
    &:focus {
      color: $color-text-primary;
    }
  }

  p {
    text-align: justify;

    &.margin-top-lg {
      margin-top: 3.6rem;
    }

    &.margin-top-md {
      margin-top: 1.2rem;
    }
  }
}
